@media screen and (max-width: 1025px){
    .logo{
        width: 18%;
    }
    .navigation{
        width: 79%;
    }
    #info-image{
        width: 45%;
    }
    #info{
        width: 45%;
        p{
            margin: 18px;
            font-size: 18px;
        }
    
    }
    #cover{
    #cover-text{
        h1{
            font-size: 30px;
        }
    }
}

#services{
    .service{
        .fa-solid{
            font-size: 70px;
        }
        h3{
            font-size: 25px;
        }
    }
}


}

@media screen and (max-width: 993px) {
    #services{
        .service{
            .fa-solid{
                font-size: 65px;
                margin: 5px 0px;
            }
        }
    }
    
}

@media screen and (max-width: 850px){
    header{
        .center{
            flex-direction: column;
        }
        .logo{
            width: 35%;
        }
        .navigation{
            nav{
                justify-content: center;
            }
        }
        
    }
    #services{
        .service{
            p{
                font-size: 18px;
            }
        }
    }
    
}

@media screen and (max-width: 769px) {

    header{
        .logo{
            width: 35%;
        }
        .navigation{
            width: 100%;
           
        }
    }
    #cover{
        #cover-text{
            h1{
                font-size: 22px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    #skills{
        .total{
        p{
            font-size: 12px;
        }
    }
    }
    
    #services{
        .service{
            .fa-solid{
                font-size: 60px;
            }
            h3{
                font-size: 23px;
            }
            p{
                font-size: 16px;
            }
             
        }
        
    }
    .center-content{
        width: 90%;
    }
    footer{
        .center{
            .fc-1{
                width: 30%;
                .fa-brands,.fa-sitemap,.fa-rss{
                    font-size: 20px;
                }
            }
        }
    }
    
}

@media screen and (max-width: 602px) {
    header{
        .center{
            .logo{
                width: 30%;
            }
            align-items: center;
            .navigation{
                nav{
                    justify-content: center;
                    flex-direction: column;
                    ul{
                        display: flex;
                        flex-direction: column;
                        li{
                            margin: 0px;
                            border-bottom: 2px solid #ffffff;
                        }
                    }
                    a{
                        font-size: 30px;
                    }
                }
            }
        }
    }
    #cover{
        height: 400px;
        #cover-text{
            h1{
                font-size: 20px;
            }
            p{
                font-size: 18px;
            }
        }
    }
    .center-content{
        width: 95%;
        .h2{
            font-size: 35px;
        }
        #about{
            flex-direction: column;
            #info-img{
                width: 100%;
            }
            #info{
                width: 100%;
                p{
                    font-size: 25px;
                }
            }
        }
        #skills{
            flex-direction: column;
            .banner{
                width: 100%;
            }
        }
        #services{
            flex-direction: column;
            .service{
                width: 100%;
                margin: 20px 0px;
                .fa-solid{
                    font-size: 70px;
                }
                h3{
                    font-size: 32px;
                }
                p{
                    font-size: 23px;
                }
            }
        }

        #project{
            flex-direction: column;
            .pr{
                width: 100%;
                margin: 15px 0px;
            }
        }
        #contact{
            box-shadow: none;
           #form{
            align-items: center;
            .form-part{
                width: 100%;
                
            }
            flex-direction: column;
            
           }
        }
    }

    footer{
        .center{
            .fc-1{
                display: flex;
                flex-direction: column;
                .fa-brands,.fa-sitemap,.fa-rss{
                    font-size: 30px;
                }
                h3{
                    font-size: 15px;
                }
            }
           
        }
    }

}

@media screen and (max-width: 480px){
    #cover{
        #cover-text{
            h1{
                font-size: 18px;
            }
        }
    }
    .center-content{
        #about{
        #info{
            p{
                font-size: 18px;
            }
        }
    }
    }
}

